@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Playwrite+IE:wght@100..400&family=Pliant:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: "Pliant", sans-serif;
}
body {
    height: 100%;
    width: 100%;
    background: url(/images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
form {
    margin: 150px 0px;
    padding: 30px 70px;
    min-height: 600px;
    max-height: fit-content;
    max-width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: rgba(27, 30, 39, 0.3);
}
p {
    font-size: 1.1rem;
}
input {
    font-size: 1.3rem;
    background: none;
    border: none;
    border-radius: 0.1rem;
    outline: none;
    border-bottom: 1px solid white ;
}
.is-error{
    border-bottom: 1px solid rgb(255, 0, 0) 
}
input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
input:focus {
    background: rgba(0, 0, 0, 0.2);
}
button {
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    transition: 0.2s 0s;
}
button:hover{
    background: rgba(0, 0, 0, 0.4);
    transition: 250ms 0s;
}
button:active{
    background: rgba(0, 0, 0, 0.6)
}
a {
    transition: 0.2s;
}
a:hover {
    color: rgba(255, 255, 255, 0.5);
}
.form-inputs {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.other-tools {
    margin: 95% 0px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input[type=date] {
    margin: -10px 0 10px 0;
}
input[type=radio] {
    margin: 5px 0 0 0;
}
.success {
    border: 0.3px solid rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
}